// !flexes
@mixin flex-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-col-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}



// !grids
@mixin grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5rem;
}

@mixin grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
}

@mixin grid-auto-minmax-200-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1.5rem;
}

// !widths
@mixin w-95-max-1400 {
  width: 95%;
  margin: auto;
  max-width: 1400px;
}
@mixin w-90-max-1400 {
  width: 90%;
  margin: auto;
  max-width: 1400px;
}

@mixin w-80-max-1400 {
  width: 80%;
  margin: auto;
  max-width: 1400px;
}

@mixin w-80-max-1000 {
  width: 80%;
  margin: auto;
  max-width: 1000px;
}

@mixin w-70-max-1400 {
  width: 80%;
  margin: auto;
  max-width: 1400px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
figure {
  padding: 20px 0;
  img {
    width: 100%;
  }

}
