* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@mixin flex-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin w-90-max-1400 {
  width: 90%;
  margin: auto;
  max-width: 1500px;
}
