.main-index {
  position: absolute;
  top: 85vh;
  width: 100%;
}
.social-icons {
  @include flex-c-c();
  width: 250px;
  margin: auto;
  a {
    padding: 15px;
  }
  &:hover {
    i {
      transition: 0.3s;
      color: rgb(110, 110, 110);
    }
  }
}

.social-icons i {
  color: #000;
  font-size: 2.3rem;
  &:hover {
    transition: 0.3s;
    color: #000;
  }
}

.index-section-1 {
  padding: 20px 0;
  @include w-90-max-1400();
  @media (min-width: 768px) {
    @include w-80-max-1000();
    @include grid-auto-minmax-200-1();
  }
}

.index-section-2 {
  @include w-90-max-1400();
  @media (min-width: 768px) {
    @include w-80-max-1000();
  }
  .instagram-section {
    .widget-text {
      padding: 40px 0;
    }
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      .instagram-widget {
        width: 50%;
      }
      .widget-text {
        width: 35%;
        text-align: right;

        h3 {
          padding: 20px 0;
        }
      }
    }
  }
  .facebook-widget {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    div {
      padding: 40px 0;
      max-width: 350px;
    }
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        width: 50%;
        h3 {
          padding: 20px 0;
        }
      }
    }
  }
}
