// !navbar

.main-nav {
  @include w-90-max-1400();
  @include flex-sb-c();
  position: absolute;
  right: 5%;
  z-index: 99;
  transition: 0.3s;
  height: 70px;
  h1 {
    color: white;
  }
}

.show-main-nav {
  position: absolute;
  right: 200px;
  padding-right: 20px;
  transition: 0.4s;
  @media (min-width: 768px) {
    right: 5%;
  }
}

.hidden-menu {
  position: absolute;
  top: 0;
  right: -250px;
  transition: 0.4s;
  background: rgb(49, 49, 49);
  box-shadow: inset 0 0 0 0 #5c5b5b;
  width: 200px;
  height: 80vh;
  padding: 0;
  a {
    display: inline-block;
    color: white;
    padding: 20px 20px;
    width: 100%;
    &:hover {
      transition: ease-out 0.2s;
      background: rgb(68, 64, 64);
      box-shadow: inset 200px 0 0 0 #5c5b5b;
      padding-left: 37px;
      color: white;
    }
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.show-menu {
  position: absolute;
  right: -200px;
  transition: .4s;
  animation: menupadding .4s;
  @keyframes menupadding {
    from {width: 250px}
    to {width: 200px}
  }
}

.main-menu {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 70px;
  }
  a {
    color: white;
    &:hover {
      opacity: 0.6;
    }
  }
}

#hamburger {
  color: white;
  font-size: 1.5rem;
  @media (min-width: 768px) {
    display: none;
  }
}
